<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="lrs.dummy.plugin" version="0.0.1" 
  xmlns="http://apache.org/cordova/ns/plugins/1.0" 
  xmlns:android="http://schemas.android.com/apk/res/android">
  <name>DummyPlugin</name>
  <description>Dummy</description>
  <author>OutSystems Inc</author>
  <js-module name="DummyPlugin" src="www/DummyPlugin.js">
    <clobbers target="cordova.plugins.DummyPlugin"/>
  </js-module>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="DummyPlugin">
        <param name="ios-package" value="DummyPlugin"/>
      </feature>
    </config-file>
    <source-file src="src/ios/DummyPlugin.m"/>
    <header-file src="src/ios/DummyPlugin.h"/>

    <framework src="PureeOS" type="podspec" spec="2.0.1.OS51" />

  </platform>
</plugin>